//共用的header---------------------------------------------

header .header__container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    height: 85px;
    /* border: 1px solid red; */
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 99;
}

header .header__container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header__container .logo a img {
    width: 250px;
}

header .header__container .navList {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
}

.navList .navItem {
    text-decoration: none;
    padding: 15px;
    margin: 10px;
    color: #8a5b41;
    font-size: 1.4rem;
    transition: transform .2s .1s, color .2s .1s;
}

.navList_2 {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navList_2 .navItem_2 {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: #8a5b41;
    font-size: 1.5rem;
    transition: transform .2s .1s, color .2s .1s;
}

.navItem:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-bottom: 3px solid #e08c34;
    /* #e08c34 */
    top: 80%;
    left: 16px;
    transition: width .3s;
}

.navItem:hover:after {
    width: 88px;
    transition: width .3s .1s;
}

.navItem:hover,
.navItem_2:hover {
    transform: translateY(-5px) scale(1.05);
    color: #a6c165;
    /* #a6c165 */
    transition: transform .2s;
}



.navItem:hover>.fa-seedling,
.navItem:hover>.fa-apple-alt,
.navItem:hover>.fa-lemon,
.navItem:hover>.fa-carrot,
.navItem:hover>.fa-leaf {
    animation: ss .2s linear infinite alternate;
}

@keyframes ss {
    0% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(10deg);
    }
}


.navList .focus {
    color: #a6c165;
}



// //平板
// @include respond(medium){
// header {
//     width: 600px;
//     background-color: rgb(247, 1, 1);
//  }
// }


// //手機版
// @include respond(small){
//     header {
//         width: 200px;
//         background-color: rgb(247, 1, 1);
//      }

// }