//tab頁籤設定 --------------------------------------
//import tab標籤前請在外層設一個div寫寬度

.tab_wrap {
    border: 2px solid #de8c3e;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

ul,li {
    margin-top: 0;
    padding: 0;
    list-style: none;
}

ul.tabs {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #de8c3e;
    background-color: #de8c3e;
}

ul.tabs li {
    float: left;
    height: 100%;
    line-height: 40px;
    overflow: hidden;
    position: relative;
}

ul.tabs li a {
    display: block;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
}

ul.tabs li a:hover {
    background: #fa0;
}

ul.tabs li.active {
    background: #fa0;
    /* border-bottom: 1px solid#fff; */
}

ul.tabs li.active a:hover {
    background: #fa0;
}

div.tab_container {
    width: 100%;
    border-top: none;
    // background: #fff;
    position: relative;
}

div.tab_container::before {
    content: "";
    background: #fff;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    z-index: -1;
  }
  




/* -------------------以下各分頁可自行設定------------------------- */

div.tab_container .tab_content {
    padding: 20px;
}

div.tab_container .tab_content h2 {
    margin: 0 0 20px;
}