<!-- Check your tag plz thanks! -->



<!----------------------- 訂單管理---------------------------->
<div class="tabPanel " id="tab-2">
    <div class="order">
        <!-- -------------------------訂單-------------------->
        <div class="orderList">
            <table>
                <tr>
                    <th>訂單編號 :</th>
                    <td>93</td>
                </tr>
                <tr>
                    <th>下單日期 :</th>
                    <td>2020-02-07</td>
                </tr>
                <tr>
                    <th>付款方式 :</th>
                    <td>信用卡</td>
                </tr>
                <tr>
                    <th>出貨狀態 :</th>
                    <td>已送達</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th>收件人地址 :</th>
                    <td>桃園市中壢區中大路300號</td>
                </tr>
                <tr>
                    <th>收件人電話 :</th>
                    <td>0912345678</td>
                </tr>
            </table>
        </div>
        <div class="total">
            <p>總額 : 1330</p>
        </div>
        <!-----------------訂單明細------------------------  -->
        <div class="orderitem">
            <p class="orderList_btn">訂單明細 v</p>
            <div class=line></div>

            <!-- ------------------------手機版html-------------------------------------- -->
            <div class="orderLis_content">
                <ul class="orderList_items_title">
                    <li>商品</li>
                    <li>品名</li>
                    <li>數量</li>
                    <li>單價</li>
                    <li>小計</li>
                    <li>備註</li>
                    <li>評價狀態</li>
                </ul>
                <ul class="orderList_moreItems">
                    <li>
                        <img src="./Jeff_images/order1.png " alt="鳳梨甘圖" width="100px">

                    </li>
                    <li>
                        鳳梨甘</li>
                    <li>
                        7 </li>
                    <li>
                        80 </li>
                    <li>
                        560 </li>
                    <li>
                        一般 </li>
                    <li>
                        <button class="orderList_eva_done cart" type="button">已評價</button> </li>


                </ul>

                <ul class="orderList_moreItems">
                    <li>
                        <img src="./Jeff_images/order2.png " alt="鳳梨甘圖" width="100px">

                    </li>
                    <li>
                        客製果甘</li>
                    <li>
                        7 </li>
                    <li>
                        80 </li>
                    <li>
                        560 </li>
                    <li>
                        客製 </li>
                    <li>
                        <button class="orderList_eva_done cart" type="button">已評價</button> </li>


                </ul>

                <ul class="orderList_moreItems">
                    <li>
                        <img src="./Jeff_images/order3.png " alt="鳳梨甘圖" width="100px">

                    </li>
                    <li>
                        果甘禮盒</li>
                    <li>
                        1</li>
                    <li>
                        150</li>
                    <li>
                        150</li>
                    <li>
                        一般</li>
                    <li>
                        <button class="orderList_eva cart" type="button">未評價</button> </li>


                </ul>

                <!----------------------------------評價燈箱-------------------------  -->
                <div class="eva_lightBox" name="snackNo4">
                    <span class="eva_lightBox_leave"><i class="fas fa-times"></i></span>
                    <div class="eva_Boxing">
                        <div class="evaContent boxing">
                            <img src="./Jeff_images/order3.png " alt="商品圖" width="100px">
                            <p>果乾禮盒</p>
                        </div>
                        <div class="eva_lightBox_Starts boxing">
                            <ul>

                                <li>
                                    <p>
                                        好評度：
                                        <ul class="eva_lightBox_gdStars">
                                            <li>
                                                <label>
                                                    <input type="radio" name="gdStar" value="1">
                                                    <span>1星</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="radio" name="gdStar" value="2">
                                                    <span>2星</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="radio" name="gdStar" value="3">
                                                    <span>3星</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="radio" name="gdStar" value="4">
                                                    <span>4星</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="radio" name="gdStar" value="5" checked>
                                                    <span>5星</span>
                                                </label>
                                            </li>
                                        </ul>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="eva_lightBox_msg boxing">
                            <p>評價分享</p>
                            <textarea name="textDiscuss" cols="24" rows="10" class="eva_lightBox_textDics"></textarea>
                        </div>
                    </div>
                    <div class="eva_lightBox_send evaSend">
                        <input type='submit' id="4" class="step sendEva" value="送出評價">
                    </div>

                </div>

            </div>
        </div>