<div class="contain">
    <h2>製作屬於自己的客製禮盒吧</h2>
    <div class="index_box_outer">
        <a href="box.html"><img src="images/index_box_img.svg" alt=""></a>
        <img src="images/index_isLand.svg" alt="">     
        <img src="images/green_balloon.svg" alt="">
        <img src="images/red_balloon.svg" alt="">
        <img src="images/yellow_balloon.svg" alt="">
    </div>
    <a href="box.html"><div class="box_btn">客製禮盒</div></a>
    <div class="hot_air_blue_balloon">
        <img src="images/hot_air_blue_balloon.svg" alt="">
    </div>
    <div class="hot_air_red_balloon">
        <img src="images/hot_air_red_balloon.svg" alt="">
    </div>
</div>