<div class="contain">
    <h1 class="title_index">
        <img src="./images/index_cust/leaf.svg" class="leafLeft">
        <img src="./images/index_cust/leaf.svg" class="leafRight"> 客製果甘
    </h1>
    <h2>提供六種果甘的自由搭配</h2>
    <div class="cust_qna_contain">
        <div class="cust_contain">
            <div class="cust_wheelset">
                <div class="cust_wheelstick"></div>
                <div class="cust_wheel">
                    <div class="item1 item">
                        <div class="content">
                            <a href="#one">楊桃甘
                                <div class="wheel_plate">
                                    <img src="./images/index_cust/cusFruits/01_starFruit_c.png">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="item2 item">
                        <div class="content">
                            <a href="#two">鳳梨甘
                                <div class="wheel_plate">
                                    <img src="./images/index_cust/cusFruits/02_pineapple_c.png">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="item3 item">
                        <div class="content">
                            <a href="#three">火龍果甘
                                <div class="wheel_plate"></div>
                            </a>
                        </div>
                    </div>
                    <div class="item4 item">
                        <div class="content">
                            <a href="#four">香蕉甘
                                <div class="wheel_plate"></div>
                            </a>
                        </div>
                    </div>
                    <div class="item5 item">
                        <div class="content">
                            <a href="#five">草莓甘
                                <div class="wheel_plate"></div>
                            </a>
                        </div>
                    </div>
                    <div class="item6 item">
                        <div class="content">
                            <a href="#six">芭樂甘
                                <div class="wheel_plate"></div>
                            </a>
                        </div>
                    </div>
                    <div class="item7 item">
                        <div class="content">
                            <a href="#seven">芒果甘
                                <div class="wheel_plate"></div>
                            </a>
                        </div>
                    </div>
                    <div id="wrapper8">
                        <div class="item8 item">
                            <div class="content">
                                <a href="#eight">蘋果甘
                                    <div class="wheel_plate"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="center">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="qna_contain">
            <h2 class="title_page">
                <img src="./images/index_cust/leaf.svg" class="leafLeft">
                <img src="./images/index_cust/leaf.svg" class="leafRight"> 果甘測驗
            </h2>
            <div>
                <div>
                    <h4>不知道怎麼選嗎？</h4>
                    <h4>回答問題讓天然甘給您適合的建議吧！</h4>
                </div>
                <div class="qna_paper">
                    <div class="qna_paper_upper">
                        <h5>Q : <span>喝咖啡、吃甜食，讓你胃食道逆流或摁摁不順暢嗎?</span></h5>
                        <span> 1 / 6</span>
                    </div>
                    <div class="qna_paper_lower">
                        <span><input type="radio" name="q1">還好欸，我身強體壯</span>
                        <span><input type="radio" name="q1">有一點，最近偶爾會這樣</span>
                        <span><input type="radio" name="q1">每天都這樣....</span>
                    </div>
                    <div class="qna_paper_buttons">
                        <button type="submit">上一題</button>
                        <button type="submit">下一題</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cust_platform"></div>
    <button class="cust_more">更多客製果甘</button>
</div>