<div class="contain">
    <div class="cloud_section">
        <img class="cloud1" src="./Jeff_images/img_1/couldSun.svg" alt="" width="20%">
        <img class="cloud2" src="./Jeff_images/img_1/cloud2.svg" alt="" width="20%">
    </div>
    
    <h2 class="title_index">
        <img src="./Jeff_images/leaf.svg" class="leafLeft">
        <img src="./Jeff_images/leaf.svg" class="leafRight">
        關於我們
    </h2>

    <p>堅持來自產地新鮮水果製成果甘，“天然甘”提供多種天然水果甘及客製禮盒。</p>
    
    <div class="skyFruits">
        <ul id="scene">
            <li class="layer1" data-depth=".5">
                <img src="./Jeff_images/img_1/fruit01.svg" alt="" width="150px">
            </li>
            <li class="layer2" data-depth="1">
                <img src="./Jeff_images/img_1/fruit06.svg" alt="" width="100px">
            </li>
            <li class="layer3" data-depth="-1">
                <img src="./Jeff_images/img_1/fruit05.svg" alt="" width="90px">
            </li>
            <li class="layer4" data-depth=".8">
                <img src="./Jeff_images/img_1/fruit03.svg" alt="" width="100px">
            </li>
            <li class="layer5" data-depth="0.5">
                <img src="./Jeff_images/img_1/fruit02.svg" alt="" width="100px">
            </li>
            <li class="layer6" data-depth="0.6">
                <img src="./Jeff_images/img_1/fruit04.svg" alt="" width="100px">
            </li>
        </ul>
    </div>

    <div class="land_section">
        <div class="fruitsInBasket">
            <img src="./Jeff_images/img_2/fruitsInBasket_e.svg" alt="" width="100px">
            <img src="./Jeff_images/img_2/fruitsInBasket_f.svg" alt="">
            <img src="./Jeff_images/img_2/fruitsInBasket_e.svg" alt="">
            <img src="./Jeff_images/img_2/fruitsInBasket_d.svg" alt="">
            <img src="./Jeff_images/img_2/fruitsInBasket_c.svg" alt="">
            <img src="./Jeff_images/img_2/fruitsInBasket_b.svg" alt="">
            <img src="./Jeff_images/img_2/fruitsInBasket_a.svg" alt="">
        </div>

        <img class="land" src="./Jeff_images/img_1/landBasket.svg" alt="" width="65%">

        <div class="about_btn">
            <a href="#">
                <div class="btn">關於我們</div>
            </a>
        </div>
    </div>    
</div>
