<header>
    <div class="header__container">
        <span class="logo">
            <a href="index.html"><img src="./images/Logo.svg"></a>
        </span>
        <div class="navList">
            <a class="navItem @@focus01" href="#">關於我們<i class="fas fa-seedling"></i></a>
            <a class="navItem @@focus02" href="#">特色果甘<i class="fas fa-apple-alt"></i></a>
            <a class="navItem @@focus03" href="#">客製果甘<i class="fas fa-lemon"></i></a>
            <a class="navItem @@focus04" href="#">折扣遊戲<i class="fas fa-carrot"></i></a>
            <a class="navItem @@focus05" href="forum.html">果甘話區<i class="fas fa-leaf"></i></a>
        </div> 
        <div class="navList_2">
            <a class="navItem_2" href="#"><i class="fas fa-user-circle"></i></a>
            <a class="navItem_2" href="#"><i class="fas fa-shopping-cart"></i></a>               
        </div>
    </div>
</header>