<div class="tab_wrap">
    <ul class="tabs">
        <li><a href="#tab1">Tab1</a></li>
        <li><a href="#tab2">Tab2</a></li>
    </ul>

    <div class="tab_container">
        <div id="tab1" class="tab_content">
            <h2>test</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia dicta non, alias ab rerum.</p>
        </div>
        <div id="tab2" class="tab_content">
            <h2>test2</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, quam!</p>
        </div>
    </div>
</div>