//字體設定 ----------------------------------------
@font-face {
    font-family: Noto;
    src: url(../../font/NotoSansCJKtc-Regular.otf);
}
@font-face {
    font-family: Genjyuu;
    src: url(../../font/GenJyuuGothic-Monospace-Regular.ttf);
}
html{
    font-size: 16px;
    color: $color;
    font-family: Noto, Genjyuu;
}

h1 {
    font-size: 2.5rem;
    color: $titleColor;
}
h2 {
    font-size: 2.25rem;
    color: $titleColor;
}
h3 {
    font-size: 2rem;
    color: $titleColor;
}
h4 {
    font-size: 1.75rem;
    color: $titleColor;
}
h5 {
    font-size: 1.25rem;
}
