//變數設定 -----------------------------------------

//字體變數
$color: #4c4948;
$titleColor: #8A5B41;

//一般按鈕變數
$btnColor: #ffffff;
$btnBgColor: #e08c34;
$btnHovBgColor: #Fa0;
//功能按鈕變數
$btnFuncBgColor: #D35D3D;
$btnFuncHovBgColor: #f85f35;

// RWD 斷點
$desktop: 1200px;
$large_max: 1199px;
$large: 992px;
$medium_max: 991px;
$medium: 768px;
$small_max: 767px;
$small: 576px;
$xsmall_max:575px;




